# Level 2

In [ ]:
A == 'equal'
B != 'tidak sama'
C < 'kecil dari'
D > 'besar dari'
E >= 'besar sama'
F <= 'kecil sama'

In [35]:
cuaca = 'cerah'
if cuaca != 'cerah':
  print ('main game di rumah')
  print ('tidur-tiduran')
else: #bisa diganti expresi ini dengan langsung membuat statement tanpa spasi, contoh di bawah
  print ('pergi ke rumah nenek')
  print ('tidur-tiduran')

day = 'siang'
if day != 'siang':
  print ('main game di rumah')
  print ('tidur') 
print ('pergi ke sekolah')#meletakkan statement ini tanpa spasi akan mengartikan false sama halnya dengan "ELSE"
print ('main bola')

pergi ke rumah nenek
tidur-tiduran
pergi ke sekolah
main bola

In [70]:
x = -5
y = 5

if x < y:
 print ('yes')#truth
if y < x:
 print ('no)')#false
if x:
 print ('ada')#false
if y:
 print ('kepo')#truth
if x+y:
    print ('yay')
if 'sis' in 'siska':
    print ('yoi')

yes
ada
kepo
yoi

In [63]:
if 'cua' in 'cuaca':
    print ('main game di rumah')
    
    if 10 < 5:
        print ('tidur-tiduran')
    print ('awan')
else:
    print ('jalan-jalan')

main game di rumah
awan

In [69]:
if 'ya' in 'cuaca':
    print ('main game di rumah')#2
    
    if 10 < 5:
        print ('tidur-tiduran')#program antara bisa baca atau ga, kalau stament 2 di atas True
    print ('awan')#program antara bisa baca atau ga, kalau stament 2 di atas True
    
    if 5 > 3:
        print ('antara ada dan tiada')#program antara bisa baca atau ga, kalau stament 2 di atas True
    print ('tralala')#program antara bisa baca atau ga, kalau stament 2 di atas True
print ('jalan-jalan')#selalu terprint karena program ga bisa baca

jalan-jalan

In [82]:
hargabuku = 5000
hargamajalah = 10000
uang = 1000
if hargabuku < uang:
    print ('beli buku')
else:
    print ('uang tidak cukup')

uang tidak cukup

In [97]:
hargabuku = 5000
hargamajalah = 10000
uang = 1000
if hargabuku < uang:
    print ('beli buku')
elif hargamajalah < uang:
    print ('beli majalah')
elif hargamajalah < hargabuku:
    print ('pilih buku')
else:
    print ('tidak cukup uang')
    print ('uang buat jajan aja')

tidak cukup uang
uang buat jajan aja

In [96]:
hargabuku = 5000
hargamajalah = 10000
uang = 1000
if hargabuku < uang: print ('beli buku')
elif hargamajalah < uang: print ('beli majalah')
elif hargamajalah < hargabuku: print ('pilih buku')
else: print ('tidak cukup uang'); print ('uang buat jajan aja')

tidak cukup uang
uang buat jajan aja

In [102]:
raining = False
print ("let's go to the", 'beach' if not raining else'library')
raining = True
print ("let's go to the", 'beach' if not raining else'library')

let's go to the beach
let's go to the library

In [109]:
age =25
s = 'teen' if age < 21 else 'adult'
print (s)

adult

In [121]:
'yes' if ('cuaca' in ['cuaca', 'siang', 'malam']) else 'no'
#hanya berlaku jika dalam tanda '' semua hurufnya masuk/sesuai

'yes'

In [127]:
'yes' if ('cua' in ['cuaca', 'siang', 'malam']) else 'no'
#hanya berlaku jika dalam tanda '' semua hurufnya masuk/sesuai kalau tidak dia menjadi no

'no'

In [129]:
a = 5
b = 3
if a > b:
    m = a
else: 
    m = b

In [130]:
a = 5
b = 3
m = a if a > b else b

In [134]:
if True:
    print ('cuaca') #indent disini bisa diganti dengan

if True:
    pass
print ('cuaca sore')

cuaca
cuaca sore

# Loop

In [142]:
a = 5
while a > 1:#angka runningnya minimal sama dengan angka ekspresi besarnya
    a -= 1
    print (a)
    
#contoh 2

a = 10
while a > 6:#angka runningnya minimal sama dengan angka ekspresi besarnya
    a -= 1
    print (a)
    
#contoh 3
a = 5
while a > 1:#angka runningnya minimal sama dengan angka ekspresi besarnya
    a += 1
    print (a)

4
3
2
1
9
8
7
6

In [ ]:
n = 0
print ('n =', n)
print ('-'*20)
while True:
    print ('A{}'.format (n))
    n = n + 1
    if n == 10:
        break
print ('-'*20)
print ('n =', n)

In [156]:
x = 0
print ('x =', x)
print ('-'*20)
while True:
    print ('A{}'.format (x))
    x = x + 1
    if x == 10:
        break
print ('-'*20)
print ('x =', x)

x = 0
--------------------
A0
A1
A2
A3
A4
A5
A6
A7
A8
A9
--------------------
x = 10

In [162]:
x = ['cuaca', 'siang', 'malam', 'sore', 'pagi']
print (x[0])
print (x[1])
print (x[2])
print (x[3])
print (x[4])
print (x[1:4])
print (x[-1])

cuaca
siang
malam
sore
pagi
['siang', 'malam', 'sore']
pagi

In [165]:
n = 5
while n > 0:
    n -= 1
    print (n)
    if n == 2:
        break
else:
    print ('Loop done')

4
3
2

In [173]:
gender = 'M'
age = 65
if age < 18:
    if gender == 'M':
        print ('son')
    else:
        print ('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print ('father')
    else:
        print ('mother')
else:
    if gender == 'M':
        print ('grandfather')
    else:
        print ('grandmother')

grandfather

In [174]:
a = ['foo', 'bar']
while len (a):
    print (a.pop (0))
    b = ['baz', 'qux']
    while len (b):
        print ('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [175]:
n = 5
while n > 0:
    n -= 1;
    print (n)

4
3
2
1
0

In [188]:
a = [ 'foo', 'bar', 'baz']
for i in a:
    print (i)

foo
bar
baz

In [208]:
d = {'foo': 1, 'bar':2 , 'baz': 3}
for k in d:
    print (k)
for k in d:
    print (d[k])

foo
bar
baz
1
2
3

In [209]:
for n in (0, 1, 2, 3, 4):
    print (n)

0
1
2
3
4

In [211]:
x = range (5)

In [212]:
for n in x:
    print (n)

0
1
2
3
4

In [213]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
        print (i)

In [219]:
d = {'foo': 1, 'bar':2 , 'baz': 3}

for k in d:
    print (k)
for k in d:
    print (d[k])
for k in d.values():
    print (k)
for k, v in d.items():
    print (k, ":", v)
for v in d.values():
    print (v)

foo
bar
baz
1
2
3
1
2
3
foo : 1
bar : 2
baz : 3
1
2
3

In [220]:
for n in x:
    print (n)

0
1
2
3
4

In [221]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print (i)

foo

In [222]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print (i)

foo
qux

In [223]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print (i)
else:
    print ('Done.') #akan dieksekusi

foo
bar
baz
qux
Done.

In [224]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i =='bar':
        break
    print (i)
else:
    print ('Done.') #tidak akan dieksekusi

foo

In [228]:
temp = input ("Ketikan temperatur yang ingin dikonversi eg. 45F, 120C:")
degree = int (temp [:-1])
i_convertion = temp [-1]
if i_convertion == "C":
    result = int (round ((9 *degree)/5 + 32))
elif i_convertion == "F":
    result = int (round ((degree -32) * 5 / 9))
else:
    print ("Masukan input yang benar")
print ("Temperaturnya adalah", result, "derajat" )

Ketikan temperatur yang ingin dikonversi eg. 45F, 120C:12C
Temperaturnya adalah 54 derajat

In [230]:
while True:
    msg = input ("Ketikan karakter:").lower()
    print (msg)
    if msg =="stop":
        break

Ketikan karakter:lala
lala
Ketikan karakter:stop
stop