In [53]:
#Aritmatic

In [52]:
A = 30
B = 40
print(A+B)
print (A)
print(A-B+10)
print(A%B)
print (A*B)
print (A**B)
print (A/B)
print (A-B)
print ((A+10)/B)

70
30
0
30
1200
121576654590569288010000000000000000000000000000000000000000
0.75
-10
1.0

In [23]:
var = "siska kumala"
print(var.upper())
print(var.lower())
print(var.capitalize())
var = 50
print (var)

SISKA KUMALA
siska kumala
Siska kumala
50

In [12]:
X = 4.5
Y = 5.5
Z = .5e7
print (X+Y)
print (Z)

10.0
5000000.0

In [9]:
print ("Siska Kumala")
print (type("Siska Kumala"))

Siska Kumala
<class 'str'>

In [10]:
print ('ini ada double quota ( " )character')
print ("ini ada single quota ( ' ) character")

ini ada double quota ( " )character
ini ada single quota ( ' ) character

In [14]:
print (type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

In [15]:
a = b = c = 100
print (a,b,c)

100 100 100

In [56]:
name = "siska"
kerja = "bri agro"
dapat_gaji = True
print(name.capitalize()), print (kerja.capitalize()), print (dapat_gaji)

Siska
Bri agro
True

(None, None, None)

In [60]:
a = 10
b = 20
print (a == b)
print (a != b)
print (a <= b )
print (a >= b )

False
True
True
False

In [74]:
s = 'siska'
t = 'kumala'
u = 'sari'
print (s + t)
print (s + t + u)
print ('Siska'  +  'Kumala')
print (s*4)
print (s in "Itu siskak ya")
print (s in "Itu Din ya")
print (s.swapcase(),t.capitalize(),'Main Game')
print (s.upper())

siskakumala
siskakumalasari
SiskaKumala
siskasiskasiskasiska
True
False
SISKA Kumala Main Game
SISKA

In [112]:
x = ['aku', 'ini','anu', "ana"]
print (x)
y = ['sd', 'smp', 'sma']
print (x == y)
z = ['sd', '5', 'smp', '.4e10']
q = ['lili','budi', 'nono', 'nene','nana','ani']
print (q[0])
print (q[1])
print (q[2])
print (q[3])
print (q[4])
print (q[5])
print (q[2:5])
print (q)
q[2] = 5
q[4] = 10
print (q)
print (q [2:5])
print (z)
print (x + ['Inu'])
print (len(x))
print (min(x))
print (max(x))
print (x*2)
print (len(x*2))
print (min (x*2))
print (max (x*2))
print (q*2)
del (q[1])
print (q)
print (x)
print (x[0:2])
x[0:2] =['Siska','adalah','hati']
print (x)

['aku', 'ini', 'anu', 'ana']
False
lili
budi
nono
nene
nana
ani
['nono', 'nene', 'nana']
['lili', 'budi', 'nono', 'nene', 'nana', 'ani']
['lili', 'budi', 5, 'nene', 10, 'ani']
[5, 'nene', 10]
['sd', '5', 'smp', '.4e10']
['aku', 'ini', 'anu', 'ana', 'Inu']
4
aku
ini
['aku', 'ini', 'anu', 'ana', 'aku', 'ini', 'anu', 'ana']
8
aku
ini
['lili', 'budi', 5, 'nene', 10, 'ani', 'lili', 'budi', 5, 'nene', 10, 'ani']
['lili', 5, 'nene', 10, 'ani']
['aku', 'ini', 'anu', 'ana']
['aku', 'ini']
['Siska', 'adalah', 'hati', 'anu', 'ana']

In [116]:
(p,q,r,s)=('siska','kumala','bank','raya')
p

'siska'

In [124]:
soccer_team = {'Sumbar':'Semen Padang', 'Jabar':'Persip','Jakarta':'Persija','Bali':'Bali United'}
print (soccer_team['Sumbar'])
print (soccer_team['Jabar'])
soccer_team['Makassar'] = 'PSM'
soccer_team
soccer_team['Samarinda'] = 'Borneo'
soccer_team
del soccer_team ['Makassar']
soccer_team

Semen Padang
Persip

{'Sumbar': 'Semen Padang',
 'Jabar': 'Persip',
 'Jakarta': 'Persija',
 'Bali': 'Bali United',
 'Samarinda': 'Borneo'}

In [149]:
person = {}
type(person)
person ['fname'] = 'Ani'
person ['lname'] = 'Danis'
person ['usia'] = 56
person ['spouse'] = 'Ito'
person ['anak'] = ['Ina', 'Inu', 'Indi']
person ['pets'] = {'bebek':'bebe','cat':'bonbon'}

print (person)
print (person['fname']), print ('&'), print (person['spouse'])
print (person['anak'])
print (person['anak'][0:2])
print (person['anak'][2])
print (person['pets'])
print (person['pets']['cat'])

{'fname': 'Ani', 'lname': 'Danis', 'usia': 56, 'spouse': 'Ito', 'anak': ['Ina', 'Inu', 'Indi'], 'pets': {'bebek': 'bebe', 'cat': 'bonbon'}}
Ani
&
Ito
['Ina', 'Inu', 'Indi']
['Ina', 'Inu']
Indi
{'bebek': 'bebe', 'cat': 'bonbon'}
bonbon

In [148]:
#Built-in

x = {'a' : 10, 'b' : 20, 'c' : 30}

#items
print (x.items())
#keys
print (x.keys())
#values
print (x.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [154]:
person1_age = 42
person2_age = 15
person3_age = 71
someone_is_of_working_age = ((person1_age>=18 and person1_age <=65)
or (person2_age >=18 and person2_age <=65)
or (person3_age >=18 and person3_age <=65))
someone_is_of_working_age

True

In [155]:
person1_age = 42
person2_age = 15
person3_age = 71
someone_is_of_working_age = ((person1_age>=18 and person1_age <=65)
and (person2_age >=18 and person2_age <=65)
and (person3_age >=18 and person3_age <=65))
someone_is_of_working_age

False